extends layout

block content
	style
		| .carousel {display:block;overflow-x:hidden;overflow-y:visible;margin:0 20px 0 20px;max-width:1160px;-webkit-border-bottom-right-radius: 9px;-webkit-border-bottom-left-radius: 9px;-moz-border-radius-bottomright: 9px;-moz-border-radius-bottomleft: 9px;border-bottom-right-radius: 9px;border-bottom-left-radius: 9px;}
		| .carousel img {height:300px}
		| .items {display:block;}
		| .item {display:inline-block;width:230px;height:75px;margin-top:15px;margin-bottom:30px;}
		| .item img {display:inline-block;height:75px;}
		| .item div {display:inline-block;vertical-align:top;text-decoration:none;margin-left:5px;}
		| .item label {display:block;font-size:11px;color:#000;margin:0;}
		| .item label:hover {text-decoration:underline;}
		| .item p {display:block;font-size:10px;color:#747474;margin:0;}

	body
		.carousel
			img(src="/carousel/charizwelcome.png")

		main
				label Best New Tweaks
				hr
				.items
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section

		side
			label Quick Links
			hr
			a.link(href="") Sign In
			a.link(href="") Account
			a.link(href="") More Package Sources
			a.link(href="") Support

			label Top Packages
				a#sub(href="") See All
				hr
				div