extends layout

block content
	style
		| .carousel {display:block;overflow-x:hidden;overflow-y:visible;margin:0 20px 0 20px;max-width:1160px;-webkit-border-bottom-right-radius: 9px;-webkit-border-bottom-left-radius: 9px;-moz-border-radius-bottomright: 9px;-moz-border-radius-bottomleft: 9px;border-bottom-right-radius: 9px;border-bottom-left-radius: 9px;}
		| .carousel img {height:300px}
		| .items {float:left;display:-webkit-flex;-webkit-flex-flow: row wrap;justify-content:flex-start;align-content:flex-start;align-items:flex-start;min-height:300px;max-width:945px;}
		| .item {min-width:200px;max-height:75px;margin:15px 0;}
		| .item img {height:75px;}
		| .item div {display:inline-block;vertical-align:top;min-width:155px;text-decoration:none;}
		| .item label {margin:0 0 0 10px;font-size:11px;color:#000; overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
		| .item label:hover {text-decoration:underline;}
		| .item p {margin: 3px 0 0 10px;font-size:10px;color:#747474;}

	body
		.carousel
			img(src="/carousel/charizwelcome.png")

		main
				label Best New Tweaks
				hr
				.items
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section
						a.item(href="/package/" + package.identifier)
							img(src="/icon/" + package.identifier + "/128.png")
							div
								label= package.name
								p= package.section

		side
			label Quick Links
			hr
			a.link(href="") Sign In
			a.link(href="") Account
			a.link(href="") More Package Sources
			a.link(href="") Support

			label Top Packages
				a#sub(href="") See All
				hr
				div