doctype html
html(lang="en")
        head
                base(target="_top")

                title= package.name + " · Chariz"

                link(rel="stylesheet", href="/stylia/style.css")

                meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
                meta(name="format-detection", content="telephone=no")

                link(rel="shortcut icon", href="/icon@2x/chariz.png")
                link(rel="apple-touch-icon", href="/icon@2x/chariz.png")

                script(src="/stylia/style.js")

        body(class="package")
                .container

                        .essential
                                .icon
                                    img(src="/icon/" + package.identifier + "/128.png", srcset="/icon/" + package.identifier + "/256.png 2x")
                                a.package#free(href="/learn", role="button")

                        .moreinfo
                                label.title= package.name
                                article
                                    - if (package.depiction)
                                        iframe#depiction(src=package.depiction)
                                    - else
                                        article#description= package.description

                .side

                        .links
                                a(href="package.homepage", role="button")= package.author + " Web Site"
                                a(href="/support/" + package.identifier, role="button")= package.name + " Support"

                        label Information
                        .information
                                label Category:
                                    p= package.section
                                label Version:
                                    p= package.version
                                label Price:
                                    p#price $9.99
                                label Size:
                                    p= package.size
                                label Seller:
                                    p#seller Chariz Store
                                br
                                label Compatibility:
                                    p#osver OS X 10.10.3 or later

                        label= "More by " + package.author
                        .moreby
                                a#link1(href="chariz://package/io.chariz.installer")
                                    img(src="/icon@2x/chariz.png")
                                    div
                                        label#name1 Chariz Installer
                                        p#cat1 System
                                a#link1(href="chariz://package/io.chariz.installer")
                                    img(src="/icon@2x/chariz.png")
                                    div
                                        label#name1 Chariz Installer
                                        p#cat1 System
                                a#link1(href="chariz://package/io.chariz.installer")
                                    img(src="/icon@2x/chariz.png")
                                    div
                                        label#name1 Chariz Installer
                                        p#cat1 System
                                a#link1(href="chariz://package/io.chariz.installer")
                                    img(src="/icon@2x/chariz.png")
                                    div
                                        label#name1 Chariz Installer
                                        p#cat1 System
