extends layout

block content
	.carousel
		a(href=url.twitter, style="background-image: url(//ui.chariz.io/osx/carousel/welcome.png)")

	main
		.featuring
			a(href="#featured", class="selected") Featured
			a(href="#tweaks") Tweaks
			a(href="#themes") Themes
			
		hr
		.items
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section
			a.item(href="./package/" + package.identifier)
				img(src="//ui.chariz.io/icon/" + package.identifier + "/256.png")
				div
					label= package.name
					p= package.section

		.space
			a#left(href=url.twitter, style="background-image: url(//ui.chariz.io/osx/carousel/welcome.png)")
			a(href=url.twitter, style="background-image: url(//ui.chariz.io/osx/carousel/welcome.png)")
			a(href=url.twitter, style="background-image: url(//ui.chariz.io/osx/carousel/welcome.png)")
			a#right(href=url.twitter, style="background-image: url(//ui.chariz.io/osx/carousel/welcome.png)")